.why-us-section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    /* place-items: center; */
    place-content: center;
    outline: 3px solid red;

}

.why-us-col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid red;
}

.why-us-title {
    color: var(--color-text);
    width: 400px;
}

.why-us-title h1{
    font-size: 2.2rem;
    margin: 0;
}

.impulsado-word{
    display: inline;
    background: linear-gradient(to left, #cb56a6, #eb4c6f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redes-word {
    display: inline;
    background: linear-gradient(to right, #0197d9, #2485f4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.why-us-col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-us-text {
    width: 60%;
    /* height: 300px; */
    padding: 2rem;
    border-radius: 14px;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid gray;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.why-us-text p{
    margin: 0;
}

@media (max-width: 768px) {
    .why-us-section {
        height: 70vh;
        grid-template-columns: repeat(1, 1fr);
        place-content: initial;
        gap: 2rem;
        padding: 2rem;
    }

    .why-us-col-1 {
        /* outline: 3px solid red; */
    }

    .why-us-title {
        color: var(--color-text);
        width: 100%;
        /* outline: 3px solid red; */
        text-align: center;
        /* padding: 2rem; */
    }
    
    .why-us-title h1{
        /* font-size: 1.5rem; */
    }

    .why-us-text {
        width: 40%;
        font-size: 14px;
        /* margin: 3rem; */
    }

    .why-us-col-2 {
        /* outline: 3px solid red; */
    }

    .arrow-icon {
        display: none;
    }
}

@media (max-width: 480px) {
    .why-us-text {
        width: 60%;
        /* outline: 3px solid red; */
    }
    
}
