.services-section {
    padding: 4rem 0;
    color: #fff;
    background-color: var(--color-primario);
}

.services-title {
    font-size: 2.5rem;
    color: var(--color-secundario);
    /* background: linear-gradient(to bottom, #3F2C9B, #5A47F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 0;
    font-weight: 500;
}

.services-text {
    /* width: 80%; */
    padding-bottom: 2rem;
    text-align: center;
    margin: auto;
}

.services-cards {
    width: 80%;
    padding: 2rem;
    margin: auto;

    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    /* outline: 3px solid red; */

}

.article-card {
    width: 300px;
    background-color: #1f1f21;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    /* outline: 3px solid red; */
}

.article-card h2{
    font-size: 2rem;
    /* margin: 10px 0;   */
}

.article-card p{
    font-size: 17px;
    margin: 5px 0;
}

.design {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3)
}

.development {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3)
}

.maintenance {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3)
}

.design h2 {
    background: linear-gradient(to left, #cb56a6, #eb4c6f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.development h2 {
    background: linear-gradient(to bottom, #3F2C9B, #5A47F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintenance h2 {
    background: linear-gradient(to right, #0197d9, #2485f4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    font-size: 2.2rem;
    padding: 2px;
    border-radius: 100%;
    background-color: rgba(235, 235, 235, 0.2);
}

.icon-development {
    display: flex;
    position: absolute;
    top: -25px;
    border-radius: 100%;
    padding: 6px;
    background-color: #5642b7;
}

.icon-design {
    display: flex;
    position: absolute;
    top: -25px;
    border-radius: 100%;
    padding: 6px;
    background-color: #cb56a6;
}

.icon-maintenance {
    display: flex;
    position: absolute;
    top: -25px;
    border-radius: 100%;
    padding: 6px;
    background-color: #0197d9;
}

.btn-design {
    padding: .75rem 1.5rem;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(to left, #cb56a6, #eb4c6f);
    margin-top: 2rem;
}

.btn-development {
    padding: .75rem 1.5rem;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(to bottom, #3F2C9B, #5A47F1);
    margin-top: 2rem;
}

.btn-maintenance {
    padding: .75rem 1.5rem;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(to right, #0197d9, #2485f4);
    margin-top: 2rem;
}

.btn-design:hover {
    background: linear-gradient(to right, #eb4c6f, #cb56a6);
}

.btn-development:hover {
    background: linear-gradient(to top, #5A47F1, #3F2C9B);
}

.btn-maintenance:hover {
    background: linear-gradient(to left, #2485f4, #0197d9);
}

@media (max-width: 768px) {
    .services-cards {
        gap: 3rem;
    }

    .article-card {
        width: 50%;
    }

    .article-card p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .article-card {
        width: 100%;
    }

    .services-text p{
        width: 90%;
        margin: 10px auto;
    }

}