.about-section {
    /* height: 80vh; */
    padding: 4rem 0;
}

.about-section h2{
    text-align: center;
    color: var(--color-primario);
    font-weight: 600;
    text-transform: uppercase;
}

.about-col {
    position: relative;
    display: flex;
    align-items: center;
    width: 70%;
    margin: 4% auto;
    gap: 30px;
    padding: 2rem;
    border-radius: 12px;
    background: #fff;
}

.img-about {
    width: 40%;
    border-radius: 7px;
    z-index: 1;
}

.description {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-about {
    font-weight: 600;
    color: var(--color-primario);
}

.ul-about {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 12px;
    list-style: none;
}

.li-about {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}

.icon-check {
    color: #4caf50;
}

.btn-about {
    padding: .75rem 1.5rem;
    background: var(--color-secundario);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease;
    font-weight: 600;
    color: #fff;
}

.btn-about:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .about-section {
        padding: 2rem 0;
    }

    .about-section h2 {
        font-size: 30px;
    }

    .about-col {
        /* width: 80%; */
        flex-direction: column;
        gap: 25px;
        margin-top: 10%;
    }

    .img-about {
        width: 60%;
    }

    .description {
        width: 90%;
    }

    .ul-about {
        justify-content: center;
    }

  }

  @media (max-width: 488px) {
    .about-col {
        width: 90%;
        padding: 1.5rem;
    }
    
    .img-about {
        width: 80%;
    }
  }