.about-section {
    /* height: 80vh; */
    padding: 4rem 0;
}

.about-section-title {
    width: 60%;
    margin: auto;
    text-align: center;
    gap: 20px;
    color: var(--color-text);
}

.about-section-title p{
    padding: 10px;
}

.about-col {
    position: relative;
    display: flex;
    align-items: center;
    width: 70%;
    margin: 4% auto;
    gap: 30px;
    padding: 2rem;
    border-radius: 12px;
    background: #fafafa;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-about {
    width: 45%;
    border-radius: 7px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-text);
}

.description div {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
}

.icon-about {
    display: inline;
    width: 28px;
    height: 28px;
}


@media (max-width: 768px) {

    .img-about {
        display: none;
    }

    .about-section-title {
        width: 80%;
    }

    .about-col {
        width: 80%;
    }
  }

  @media (max-width: 488px) {

    .about-section {
        padding: 4rem 1rem;
    }

    .about-section-title {
        width: 100%;
    }
    .about-section-title h2 {
        font-size: 24px;
    }

    .about-col {
        width: 100%;
        padding: 1rem;
    }
   
  }