.about-section {
    /* height: 80vh; */
    padding: 4rem 0;
}

.about-section h2{
    margin-top: 4%;
    text-align: center;
    color: var(--color-primario);
    font-weight: 600;
    text-transform: uppercase;
}

.about-col {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    width: 70%;
    /* height: 300px; */
    margin: 4% auto;
    gap: 30px;
    padding: 2rem;
    border-radius: 12px;
    background: #fff;
    /* outline: 3px solid red; */
}

.img-about {
    /* max-width: 320px; */
    width: 40%;
    border-radius: 7px;
    z-index: 1;
}

/* .borde-about {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 320px;
    height: 213px;
    background: var(--color-primario);
    border-radius: 7px;
} */

.description {
    /* padding-bottom: 1rem; */
    /* outline: 3px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ul-about {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 12px;
    list-style: none;
}

.li-about {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}

.icon-check {
    color: #4caf50;
}

.btn-about {
    padding: .75rem 1.5rem;
    background: var(--color-secundario);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease;
    font-weight: 600;
    color: #fff;
}

.btn-about:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .about-section {
        padding: 2rem 0;
        /* outline: 3px solid red; */
    }

    .about-section h2 {
        font-size: 30px;
    }

    .about-col {
        /* width: 80%; */
        flex-direction: column;
        gap: 25px;
        margin-top: 10%;
    }

    .img-about {
        width: 60%;
    }

    .description {
        width: 90%;
        /* outline: 3px solid red; */
    }

    .ul-about {
        justify-content: center;
        /* flex-wrap: nowrap; */
        font-size: 14px;
        /* width: 100%; */
        /* outline: 3px solid red; */
    }

  }

  @media (max-width: 488px) {
    .about-section {
        /* grid-template-columns: repeat(1, 1fr); */
    }

    .about-col {
        width: 90%;
        padding: 1.5rem;
    }
    
    .img-about {
        width: 80%;
    }

    .description {
       /* font-size: 14px; */
    }

    .about-text h1{
        font-size: 2.2rem;
    }
  }