.home-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/Hero-image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.capa-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001232;
    opacity: 0.6;
    z-index: 1;
}

/* .capa-dark {
    display: none;
} */

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-principal);
    padding-left: 3rem;
}

.section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    gap: 20px;
    z-index: 1;
}

.title-home :nth-child(2) {
    color: var(--color-secundario);
}

.title-description{
    /* padding: 1rem 0; */
}

.btn-home {
    padding: .75rem 1.5rem;
    background: var(--color-secundario);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease;
    font-weight: 600;
    color: #fff;
}

.btn-home:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {

    
}

@media (max-width: 768px) {
    .home-section {
        height: 60vh;
    }

    .col-1 {
        padding-left: 0;
        text-align: center;
    }

    /* .capa-dark {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    } */

    .section-text {
        /* align-items: center;
        outline: 3px solid red; */
    }

    .img-section {
        display: none;
    }

    .br-home {
        display: none;
    }
    
}

@media (max-width: 480px) {
    .home-section {
        height: 80vh;
    }

    .title-home h1{
       font-size: 40px;
       /* outline: 3px solid red; */
    }

}