.home-section {
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 4rem 0;
}

.capa-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}

.img-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
    /* z-index: -1; */
}

.col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fuente-principal);
}

.section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 60%;
    text-align: center;
    gap: 30px;
    z-index: 1;
}

.title-home :nth-child(2) {
    color: var(--color-secundario);
}


.btn-home {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: .75rem 1.5rem;
    background: linear-gradient(to right, #0197d9, #2485f4);
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    /* margin-top: 1rem; */
    text-decoration: none;
    transition: transform 0.3s ease;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn-home:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .section-text {
        width: 80%;
    }
    
}

@media (max-width: 768px) {
    .section-text h1{
        font-size: 34px;
    }

}

@media (max-width: 480px) {
    .section-text h1{
        font-size: 30px;
    }

    .section-text {
        width: 100%;
        padding: 1rem;
    }

    .btn-home {
        font-size: 12px;
        padding: .5rem 1rem;
        margin-top: 1rem;
    }

    .title-description {
        font-size: 14px;
    }

}