.section-contact {
    padding: 4rem 0;
}

.contact-container {
    border-radius: 12px 0 0 12px;
    text-align: center;
}

/* .contact-text {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    outline: 3px solid red;
} */

.contact-title {
    color: var(--color-primario);
    font-weight: 600;
    text-transform: uppercase;
}

.contenedor-gris {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: #1F1F21;
    height: 250px;
    width: 250px;
    border-radius: 4px;
}

.contenedor-gris h2{
    color: #fff;
    font-size: 24px;
    margin: 15px 0;
    text-align: center;
    font-weight: 500;
}

.redes {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #fff;
    margin: 20px auto;
    width: 90%;
}

.redes a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}


.redes a:hover {
    color: var(--color-secundario);
}

.redes img {
    cursor: pointer;
    width: 28px;
}

.contact-form {
    display: flex;
    position: relative;
    width: 70%;
    margin: 5% auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.col-form {
    width: 85%;
    /* background-color: #f3f3f3; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    background: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
}

.contenedor-azul {
    width: 15%;
    background: var(--color-primario);
}

.contact-form input,textarea{
    border: 1px solid #69727d;
    outline: 0;
    border-radius: 3px;
    color: #333333;
    background-color: #ffffff;
    padding: 8px 16px;
    width: 100%;
    resize: none;
    font-size: 16px;
}

input:focus {
    background-color: #f5f5f5;
}

textarea:focus {
    background-color: #f5f5f5;
}

.btn-form {
    padding: .75rem 1.5rem;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    background: var(--color-primario);
    /* background: linear-gradient(to bottom, #3F2C9B, #5A47F1); */
}

.contact-form input,textarea::placeholder {
    font-size: 17px;
}

@media (max-width: 768px) {
    .contact-title {
        font-size: 30px;
    }

    .contact-text {
        width: 90%;
        text-align: center;
    }

    .icons {
        justify-content: center;
    }

    .form {
        width: 60%;
    }

    .contact-form {
        width: 80%;
    }

    .contenedor-gris {
        height: auto;
        width: 15%;
        background: transparent;
    }

    .contenedor-gris h2 {
        display: none;
    }

    .redes {
        flex-direction: column;
        justify-content: center;
    }

    .redes a {
        font-size: 12px;
        text-align: center;
    }

  }
  
  @media (max-width: 480px) {
    .section-contact {
        padding: 2rem 0;
    }

    .contact-form {
        width: 90%;
        margin: 10% auto;
    }

    .form {
        width: 80%;
    }

    .contenedor-azul {
        width: 20%;
        /* background: var(--color-primario); */
    }

    .contenedor-gris {
        width: 20%;
    }
  }