.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
  }
  
  .footer-sections {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-contact {
    margin-top: 20px;
  }
  
  .footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  