.footer {
    background-color: #161c2d;
    color: #fff;
    padding: 20px;
  }
  
  .footer-sections {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
  }

  .footer-sections a{
    color: #fff;
    text-decoration: none;
  }

  .footer-sections a:hover{
    color: var(--color-secundario);
  }
  
  .footer-contact {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }

  @media (max-width: 480px) {
    .footer-sections {
      gap: 1rem;
      padding: 10px;
    }

    .footer-sections a{
      font-size: 14px;
    }

    .footer-contact p {
      font-size: 14px;
    }
  }
  