/* Acordeon.css */
.faq-section {
  padding: 4rem 0;
}

.faq-title {
  color: var(--color-primario);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.accordion-container {
  /* width: 600px; */
  width: 60%;
  margin: 4% auto;
  color: #000;
}

.accordion-item {
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  margin-bottom: 10;
  
  /* padding: 8px 15px; */
  background-color: #fff;

}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
}

.accordion-header h3{
  color: var(--color-primario);
  font-weight: 600;
  font-size: 22px;
}

.accordion-body {
  padding: 12px 20px;
  background-color: #fff;
  background-color: transparent;
}

.plus-icon{
  /* color: #3F2C9B; */
  color: var(--color-primario);
  font-size: 2.2rem;
}

.minus-icon {
  /* color: #3F2C9B; */
  color: var(--color-secundario);
  font-size: 2.2rem;
}


@media (max-width: 768px) {
  .faq-section {
    padding: 2rem 0;
  }

  .accordion-container {
    width: 80%;
  }

  .faq-title {
    font-size: 30px;
  }
  
}

@media (max-width: 480px) {
  .accordion-container {
    width: 90%;
    margin: 10% auto;
  }

  .accordion-header h3 {
    font-size: 18px;
  }
  
  .plus-icon{
    font-size: 2rem;
  }
  
  .minus-icon {
    font-size: 2rem;
  }
  
}